html {  
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  background-attachment: fixed;
  overflow-x: hidden;
}

.paper{
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 30px;
  max-width: 800px;
  min-width: 800px;
}

.buttonBox {
  max-width: 860px;
  min-width: 860px;
}

.progressBar {
  position: relative;
  padding: none;
  border-width: 0px;
  margin-top: 10px;
}

.components {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.buttonMargin {
  margin-right: 5px;
}

.wordBreak {
  word-break: break-all;
}

.wordMargin {
  margin-bottom: 20px;
}

.basicMargin {
  margin: 20px;
}

.manageWords {
  width: 100vw;
}

.introSpacing {
  margin-bottom: 10px;
}

.paginationMargin {
  margin-top: 10px;
  margin-bottom: 10px;
}